###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> PhpStorm / JetBrains IDEs ###
.idea/
*.iws
*.iml
*.ipr
.php_cs.cache
.php-cs-fixer.cache
###< PhpStorm / JetBrains IDEs ###

###> PHPUnit ###
/phpunit.xml
.phpunit.result.cache
###< PHPUnit ###

###> Node / Webpack (si usas frontend) ###
/node_modules/
/public/build/
###< Node / Webpack ###

###> Sistema Operativo ###
.DS_Store
Thumbs.db

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
